body {
  overflow-x: hidden;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    background-image: url('../images/wild_flowers.png');
    }


/* header placement and size */
header {
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 2.5%; 

    
}

/* Add color and font to top navigation bar */
.topnav {
  background-color: #4CAF50;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Nav links placement */
.nav-item{
  float: left;
}
    
    


/* Add color and font to h1 */
.nav-text{
    
    padding-left: 5%;
    padding-right: 5%;
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #4CAF50; */
    
    
    
    

  }

/* Add color and font to h2 */
h2 {
    clear: both;
    text-align: left;
    color: #4CAF50;
    font-family: Arial, Helvetica, sans-serif;

}

/* Add padding below underline under h2 */
hr{
    padding-bottom: 2.5%;
}



/* Removes bullets from UL in top navigation bar*/
ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    }


/* Style the links inside the navigation bar */
.topnav a {
  /* float: initial; */
  color: #4CAF50;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
  box-sizing: border-box;
  
}
  
/* Change color of links when hover */
.topnav a:hover {
    background-color: gray;
    
  }
  

/* Add color and font to the main content */
.main-container {
    width: 95%;
    box-sizing: border-box;
    /* overflow: hidden; */
    margin: auto;
    background-color: #ffffff;
    padding: 2.5%;
    padding-bottom: 25%;
    border: 1px solid #d1d0d0;
    border-radius: 10px;
    /* margin-top: 2.5%;*/
    margin-bottom: 3%; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;  
    flex: 1 0 auto;
    flex-wrap: wrap;


  }

/* Profile pic will shrink if screen gets smaller*/
.henrypic {
    float: left;
    max-width: 35%;
    margin-right: 2%;
    margin-bottom: 1%;
}


/* footer placement and size */
.footer {
    display: block;
    background: gray;
    padding-top: 3%;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 10px solid #4CAF50;
    margin-top: 10%;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
  } 





/* Form size and info */
label, input, textarea {
  width: 100%;
  display: block;
}

label {
  margin-bottom: 1%;
  font-weight: bold;

}
 



/* Portfolio Game Pictures */

.game-gallery {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.game-gallery li {
  display: inline-block;
  position: relative;
  margin-right: 5%;
  margin-bottom: 2.5%;
}

.game-image {
  width: 100%;
  height: auto;
  
}

.game-title {
  position: absolute;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  bottom: 5%;
  padding: 2.5%;
  opacity: 0.70;
}
